body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1e;
  color: white;
}

.center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
